<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>

    {% block body %}
    <body class="main">

        <div class="container">

            <div class="row justify-content-center header">
                {% block header %}
                    <div class="col-md-4 logotype">
                        {{ logoname }}
                     </div>

                        <nav class="nav col-md-8">
                            <a class="nav-link active" href="{{ path('index') }}">Home</a>
                            <a class="nav-link" href="{{ path('donate') }}">Donate</a>
                            <a class="nav-link" href="{{ path('author') }}">Author</a>

                        </nav>

                {% endblock %}
            </div>




            <div class="row justify-content-center">


                    <div class="col-md-8 main-content">
                        {% block main_content %}
                            {% for art in article %}
                        <div class="article-short">
                                {% block post_title %}<h4>{{ art.title }}</h4>{% endblock %}
                                {% block post_text %}<p>{{ art.description }}
                                </p>{% endblock %}
                            <a href="/article/{{ art.id }}" type="button" class="btn btn-outline-secondary">Read more</a>
                        </div>

                            {% endfor %}
                        {% endblock %}
                    </div>


                {% block left_menu %}
                    <div class="col-md-4">
                        <div class="right-side-menu">
                            <h5>Categories</h5>
                            <nav class="nav flex-column">
                                <a class="nav-link active" href="#">Politics</a>
                                <a class="nav-link" href="#">Bussines</a>
                                <a class="nav-link" href="#">Medical</a>
                                <a class="nav-link" href="#">In a world</a>
                                <a class="nav-link disabled" href="#">WAR</a>
                            </nav>
                        </div>

                    </div>
                {% endblock %}
            </div>
        </div>




        {% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
