<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>

    {% block body %}
    <body class="main">

        <div class="container">

            <div class="row header">
                {% block header %}
                    <div class="col-md-2 logotype">
                        {{ logoname }}
                     </div>

                        <nav class="nav col-md-4">
                            <a class="nav-link pr-0 active" href="{{ path('index') }}">Home</a>
                            <a class="nav-link pr-0" href="{{ path('donate') }}">Donate</a>
                            <a class="nav-link pr-0" href="{{ path('author') }}">Author</a>

                        </nav>

                        <div class="form-row justify-content-end">
                            <div class="col">
                                <input type="text" class="form-control" id="inlineFormInput" placeholder="Username">
                            </div>
                            <div class="col">
                                <div class="input-group ">
                                    <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary ">Sign in</button>
                            </div>
                        </div>

                {% endblock %}
            </div>




            <div class="row justify-content-center">


                    <div class="col-md-10 main-content">
                        {% block main_content %}

                        {% endblock %}
                    </div>


                {% block left_menu %}
                    <div class="col-md-2">
                        <div class="right-side-menu">
                            <h5>Categories</h5>
                            <nav class="nav flex-column">
                                <a class="nav-link pb-0 pt-1 active" href="#">Politics</a>
                                <a class="nav-link pb-0 pt-1" href="#">Bussines</a>
                                <a class="nav-link pb-0 pt-1" href="#">Medical</a>
                                <a class="nav-link pb-0 pt-1" href="#">In a world</a>
                                <a class="nav-link pb-0 pt-1 disabled" href="#">War </a>
                            </nav>
                        </div>

                    </div>
                {% endblock %}
            </div>
        </div>




        {% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
